
<h2 class="text-center">THÊM ĐIỆN THOẠI</h2>
  <form action="/action_page.php">
    <div class="mb-3 mt-3">
      <label for="email">ID:</label>
      <input type="email" class="form-control" id="email" placeholder="" name="email">
    </div>
    <div class="mb-3">
      <label for="pwd">Name:</label>
      <input type="password" class="form-control" id="pwd" placeholder="" name="pswd">
    </div>
   <div class="mb-3">
      <label for="pwd">Hãng:</label>
      <select class="form-select "multiple aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">SamSung</option>
        <option value="2">Oppo</option>
        <option value="3">IPhone</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="pwd">Price:</label>
      <input type="password" class="form-control" id="pwd" placeholder="" name="pswd">
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-success">Thêm</button>
    </div>
  </form>