<h1 class="text-center text-upercase">Danh sách</h1>
    <button class="btn btn-success float-end">OK</button>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td><button class="btn btn-primary">Sửa</button> <button class="btn btn-danger">Xóa</button></td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td><button class="btn btn-primary">Sửa</button> <button class="btn btn-danger">Xóa</button></td>
        </tr>
      </tbody>
    </table>